{% set productores=pedido.get_productores(tipo) %}

{% if productores %}
<div class="nopesar">
<h1>No pesar:</h1>

{% for productor in productores %}
	<div class="productor">
	<h2 class="h2{{loop.index}}">{{ productor.nombre }}</h2>
	<ul>
		{% for cesta in productor.get_cestas(tipo) %}
		<li class="ul"><span>{{ cesta.get_nombre() }}</span>
			<ul>
			{% for reparto in cesta.get_repartos(productor.id_productor, tipo) %}
				<li>
					<span>{{ reparto.get_str() }}</span>
				</li>
			{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	</div>
{% endfor %}
</div>
{% endif %}
